---
const { title } = Astro.props;
import CounterPreview from '../components/react/counter-preview.tsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script type="importmap" is:inline>
			{
				"imports": {
					"nanostores": "https://esm.sh/nanostores@0.10.3",
					"react": "https://esm.sh/react@18.3.1",
					"react-dom": "https://esm.sh/react-dom@18.3.1",
					"react-dom/": "https://esm.sh/react-dom@18.3.1/",
					"app-vanilla": "http://localhost:9100/bundle.js",
					"app-react": "http://localhost:9200/bundle.js"
				},
				"scopes": {
					"http://localhost:9200": {
						"react": "https://esm.sh/react@18.2.0",
						"react-dom": "https://esm.sh/react-dom@18.2.0",
						"react-dom/": "https://esm.sh/react-dom@18.2.0/"
					}
				}
			}
		</script>
	</head>
	<style is:global>
    :root {
      --palette-embed: goldenrod;
      --palette-astro: #ff5a02;
      --palette-react: #087ea4;
      --palette-primary: var(--palette-astro);
    }
		h1 {
			color: var(--palette-primary);
		}
    .embed {
      padding: 8px 0;
    }
    .embed-name {
      display: inline-block;
      padding: 4px;
      margin: 0;
      background-color: color-mix(in oklab, var(--palette-embed) 70%, transparent);
      color: #fff;
      font-style: italic;
    }
		.embed-host {
			border: 2px dashed var(--palette-embed);
			background-color: color-mix(in oklab, var(--palette-embed) 10%, transparent);
		}
    .embed-issue {
      padding: 24px 8px;
      margin: 0;
      color: inherit;
      text-align: center;
      color: var(--palette-embed);
      font-weight: bold;
    }
	</style>
	<body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/extensions">Extensions</a>
      </nav>

			<CounterPreview client:only="react" />
    </header>

		<h1>{title}</h1>

    <slot />
  </body>
</html>
